/*------------------------------Design geral do site------------------------------*/

header {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.logo-nav {
    margin-left: 4%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: auto;
    width: 100%;
}

.cor-nav {
    background-color: #80caff;
    padding: 0.7%;
}

.controlar-botoes {
    margin-right: 4%;
}

.altura {
    width: 100%;
    min-height: 100vh;

}

.conteudo {
    margin: 3%;
    text-align: justify;
}

.logo-footer {
    margin: 1%;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.txt-footer {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.controlar-social {
    justify-content: center;
}

.social {
    height: 24px;
    width: 24px;
    margin: 0.3%;
}

/*------------------------------Homepage------------------------------*/

.controlarCards {
    display: flex;
    justify-content: center;
}

.card {
    height: auto;
    width: 320px;
    background-color: #f8f9fa;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 5%;
    float: left;
    text-align: justify;
    display: flex;
}

.controlar-botao {
    text-align: center;
    margin: 2%;
}

.botao-card {
    background-color: #80caff;
    border: none;
    padding: 3.9%;
    width: 30%;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
}

.imgCard {
    justify-content: center;
    padding: 1%;
}

.txtCard {
    padding: 1%;
}

/*------------------------------Tela de tabela do sensor------------------------------*/

.titulo-tabela {
    color: #00365c;
    text-align: center;
    margin: 1.5%;
}

.txt-tabela {
    color: #00365c;
}

.txt-tabela2 {
    font-weight: bold;
}

.tabela {
    text-align: center;
}

/*------------------------------Tela de login, cadastro, alterar usuario------------------------------*/

.titulo {
    margin-top: 3%;
    text-align: center;
}

.titulo-login {
    margin-top: 3%;
    margin-bottom: 10%;
    text-align: center;
}

.indicacoes {
    font-size: large;
    font-weight: 200;
    margin-right: 1%;
}

.card-cadastro {
    background-color: #00365c;
    color: white;
    width: 25%;
    height: auto;
    border-radius: 15px;
    margin-left: 39%;
}

.textbox {
    width: 80%;
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.centralizar-caixa {
    text-align: center;
    margin-bottom: 3%;
}

.centralizar-caixa-login {
    text-align: center;
    margin-bottom: 10%;
}

.botao-entrar {
    background-color: #80caff;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 3%;
}

.botao-cadastrar {
    background-color: white;
    width: 80%;
    padding: 15px;
    border-radius: 10px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 3%;
}

.centralizar-botao {
    text-align: center;
    margin-top: 10%;
}

.centralizar-botao-cadastrar {
    text-align: center;
}

.msg {
    text-align: center;
}

.txt-editar {
    margin: 0.5%;
    font-size: large;
    font-weight: 300;
    padding-left: 10%;
}

/*------------------------------Tela de editar conta------------------------------*/

.quadro-editar {
    margin-top: 8%;
    background-color: #00365c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
    color: white;
}

/*------------------------------Loja------------------------------*/

.divloja2 {
    margin-top: 3cm;
    margin-bottom: 3cm;
    margin-left: 10cm;
    margin-right: 10cm;
    border-color: #00365c;
    border-width: 3px;

}

.h5loja {
    color: black;
    font-family: Arial Black;

}

.ploja {
    color: green;
    font-family: Arial Black;
    margin-top: 1cm;
    font-size: 20px;
}

.p-1home {
    font-size: 25px;
    margin-top: 1cm;
    color: #00365c;

}

.p-2home {
    font-size: 25px;
    margin-top: 1cm;
    color: #00365c;
    font-family: Arial;

}

.h1loja {
    font-size: 30px;
    color: #00365c;
    margin-top: 2cm;
    margin-bottom: 1cm;
}

.hloja {
    font-size: 20px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}